.hero {
  height: 100vh;
  min-height: 650px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero__header {
  display: flex;
  justify-content: space-between
}

.hero__menu {
  margin: 0 90px;
}

.hero__content {
  display: flex;
  justify-content: center;
}

.hero__buttons {
  display: flex;
  justify-content: center;
}