.user-info {
  display: flex;
}

.user-info__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.user-info__username {
  font-size: 72px;
  font-weight: 400;
  line-height: 60px;
}

.user__avatar {
  width: 200px;
  height: 200px;
}