.user-info {
  display: flex;
  width: 615px;
}

.user-info__desc {
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-right: 48px;
}

.user-info__username {
  font-size: 72px;
  font-weight: 400;
  line-height: 60px;
}

.user__avatar {
  width: 200px;
  height: 200px;
}