section.reviews 
  .container.container__reviews
    .reviews__title 
      h2.section-title Что обо мне говорят
      .reviews-slider__controls
        .reviews-slider__control.reviews-slider__control--left 
          +icon('arrow-down', 'reviews-slider__control-icon')
        .reviews-slider__control.reviews-slider__control--right 
          +icon('arrow-down', 'reviews-slider__control-icon')
    ul.reviews-slider
      -for(var i=0; i<2; i++)
        li.reviews-slider__item
          .reviews-slider__image
            +icon('quote', 'reviews-slider__icon')
          .quote
            .quote__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
            .quote__author
              .user.user--horizontal
                .user__avatar
                  +image('content/user.jpg', 'user__avatar-pic')
                .user__data
                  .user__name Ковальчук Дмитрий
                  .user__occ Основатель Loftschool