- var tags = ['HTML5', 'CSS3', 'Javascript'];
- var sliderImages = [ ['4',''], ['3', ''], ['2', ''], ['1', 'slider__slide--sctive'] ];

section.works
  .container.works__container
    .works__title
      h2.section-title Мои работы
    .slider
      .slider__content--left
        .slider__wrapper
          .slider__inner-wrapper
            .slider__active-image
              +image('content/'+sliderImages[3][0]+'.jpg', 'slider__slide-image-img')
            .slider__slides
              each sliderImage in sliderImages
                .slider__slide(class=`${sliderImage[1]}`)
                  +image('content/'+sliderImage[0]+'.jpg', 'slider__slide-image')
              .slider__nav
                .slider__nav-btn.slider__nav-btn--up
                  +icon('arrow-down', 'slider__nav-btn-icon')
                .slider__nav-btn.slider__nav-btn--down
                  +icon('arrow-down', 'slider__nav-btn-icon')
            .slider__current-nmb 4
      .slider__content--right
        .slider__wrapper
          ul.slider__tags
            each tag in tags
              li.slider__tags-item #{tag}
          h3.slider__info-title Сайт школы образования
          .slider__info Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .slider__link
            a(href="" title="" target="_blank").slider__link-item
              +icon('link', 'slider__link-item-img')
                | Посмотреть сайт
